# Laravel
/vendor/
npm-debug.log
yarn-error.log
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
app/storage/
public/storage
public/hot
public/fonts-manifest.dev.json
storage/*.key
storage/pail
.env
/.env.media-node
Homestead.yaml
Homestead.json
/.vagrant
.phpunit*.cache
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
composer.lock
package-lock.json

# IDEs
.idea/
.vscode/
*.meta.*
_ide_*

# Vue.js / Frontend
dist/
*.log
logs
node_modules/

# macOS
.DS_Store   

AllModels.php
AllMigrations.php
docs/api.json
public/
laravel
public/build/
